body{
    overflow: hidden;
    background-color: #212121;
}
#app, #contact-container{
    background-color: #212121;
    height: 94%;
}
#contact-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icon{
    font-size: 6em;
    padding: 2vw;
}
#icon-zap:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.075em;
    bottom: 0;
    left: 0;
    background-color: 
    #4DEE6A
    ;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
#icon-zap:hover{
    color: 
    #4DEE6A
    ;
    cursor: pointer;
}
#icon-zap:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#icon-gh:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.075em;
    bottom: 0;
    left: 0;
    background-color: 
    white
    ;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
#icon-gh:hover{
    color: 
    white
    ;
    cursor: pointer;
}
#icon-gh:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#icon-email:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.075em;
    bottom: 0;
    left: 0;
    background-color: 
    #D54B3D
    ;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
#icon-email:hover{
    color: 
    #D54B3D
    ;
    cursor: pointer;
}
#icon-email:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
