header{
    background-color: #212121;
    width: 100%;
}
ul{
    display: flex;
    flex-direction: row;
}
ul li{
    color: white;
    padding: 1.5%;
}
ul li .header-item:hover{
    cursor: pointer;
}
a{
    transition: 0.3s;
    position: relative;
    text-decoration: none; 
    color: rgba(212, 212, 212, 0.411);
}
a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.075em;
    bottom: 0;
    left: 0;
    background-color: 
    white
    ;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
a:hover{
    color: 
    white
    ;
    cursor: pointer;
}
a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.item-active{
    color: 
    white
    ;
}
