body{
    overflow: hidden;
    background-color: #212121;
}
#page-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
}
#title-main{
    font-family: 'Cedarville Cursive', cursive;
    color: white;
    font-size: 7em;
    margin-top: 0;
    height: 50%;
    transition: 0.5s;
}
#container-title{
    text-align: center;
}
h2{
    color: white;
    font-size: 1.5em;
    transition: 0.5s;
}
img{
    width: 20%;
    padding: 0;
    border-radius: 70%;
}