body{
    background-color: #212121;
}
#content{
    padding: 1.5%;
    padding-top: 0;
}
h2{
    color: white;
    font-size: 1.5em;
    transition: 0.5s;
    margin-bottom: 2vh;
}
p{
    color: white;
    text-align: left;
    line-height: 5vh;
    font-family: 'Montserrat', sans-serif;
}
.list-topic{
    display: flex;
    flex-direction: column;
}
.topic{
    list-style: inside;
    padding: 1.5%;
    font-family: 'Montserrat', sans-serif;
}
a{
    font-family: 'Montserrat', sans-serif;
}
.header-item, .item-active{
    font-family: 'Lexend Tera', sans-serif;;
}
footer{
    background-color: #131313;
    padding-left: 1.5%;
}
.icon-footer{
    font-size: 2em;
    padding: 0.5%;
    color: white;
}
#icon-zap:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.075em;
    bottom: 0;
    left: 0;
    background-color: 
    #4DEE6A
    ;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
#icon-zap:hover{
    color: 
    #4DEE6A
    ;
    cursor: pointer;
}
#icon-zap:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#icon-gh:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.075em;
    bottom: 0;
    left: 0;
    background-color: 
    white
    ;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
#icon-gh:hover{
    color: 
    white
    ;
    cursor: pointer;
}
#icon-gh:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#icon-email:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.075em;
    bottom: 0;
    left: 0;
    background-color: 
    #D54B3D
    ;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
#icon-email:hover{
    color: 
    #D54B3D
    ;
    cursor: pointer;
}
#icon-email:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}